# ORDERS DATA EXPLORATION

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
df_orders = pd.read_csv('/Volumes/workspace/retail_schema/raw/Orders.csv')
df_orders.head()

       order_id  ... order_estimated_delivery_date
0  Axfy13Hk4PIk  ...                    09-11-2017
1  v6px92oS8cLG  ...                    24-07-2018
2  Ulpf9skrhjfm  ...                    08-03-2018
3  bwJVWupf2keN  ...                    19-09-2018
4  Dd0QnrMk9Cj5  ...                    18-01-2018

[5 rows x 7 columns]

In [0]:
df_orders.shape

(127595, 7)

In [0]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127595 entries, 0 to 127594
Data columns (total 7 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       127595 non-null  object
 1   customer_id                    127595 non-null  object
 2   order_status                   89316 non-null   object
 3   order_purchase_timestamp       127595 non-null  object
 4   order_approved_at              127579 non-null  object
 5   order_delivered_timestamp      87427 non-null   object
 6   order_estimated_delivery_date  89316 non-null   object
dtypes: object(7)
memory usage: 6.8+ MB

In [0]:
df_orders.describe().T

                                count  unique               top   freq
order_id                       127595  127595      Axfy13Hk4PIk      1
customer_id                    127595  127595      hCT0x9JiGXBQ      1
order_status                    89316       7         delivered  87428
order_purchase_timestamp       127595   88156  08-08-2017 20:26    126
order_approved_at              127579   50225  10-01-2018 10:32    130
order_delivered_timestamp       87427   59405  14-08-2017 12:46     87
order_estimated_delivery_date   89316     444        20-12-2017    500

In [0]:
df_orders.isnull().sum()

order_id                             0
customer_id                          0
order_status                     38279
order_purchase_timestamp             0
order_approved_at                   16
order_delivered_timestamp        40168
order_estimated_delivery_date    38279
dtype: int64

In [0]:
df_orders.nunique()

order_id                         127595
customer_id                      127595
order_status                          7
order_purchase_timestamp          88156
order_approved_at                 50225
order_delivered_timestamp         59405
order_estimated_delivery_date       444
dtype: int64

In [0]:
cols_to_convert = [
    'order_purchase_timestamp',
    'order_approved_at',
    'order_delivered_timestamp',
    'order_estimated_delivery_date'
]

df_orders[cols_to_convert] = df_orders[cols_to_convert].apply(
    lambda col: pd.to_datetime(col, dayfirst=True, errors='coerce')
)

In [0]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127595 entries, 0 to 127594
Data columns (total 7 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       127595 non-null  object
 1   customer_id                    127595 non-null  object
 2   order_status                   89316 non-null   object
 3   order_purchase_timestamp       127595 non-null  datetime64[ns]
 4   order_approved_at              127579 non-null  datetime64[ns]
 5   order_delivered_timestamp      87427 non-null   datetime64[ns]
 6   order_estimated_delivery_date  89316 non-null   datetime64[ns]
dtypes: datetime64[ns](4), object(3)
memory usage: 6.8+ MB

In [0]:
min_purchase_date = df_orders['order_purchase_timestamp'].min()
max_purchase_date = df_orders['order_purchase_timestamp'].max()

print('Order Purchase Date Range: {} to {}'.format(min_purchase_date, max_purchase_date))

Order Purchase Date Range: 2016-09-04 21:15:00 to 2018-09-03 09:06:00

In [0]:
min_approval_date = df_orders['order_approved_at'].min()
max_approval_date = df_orders['order_approved_at'].max()

print('Order Approval Date Range: {} to {}'.format(min_approval_date, max_approval_date))

Order Approval Date Range: 2016-10-04 09:43:00 to 2018-09-03 17:40:00

In [0]:
min_delivery_date = df_orders['order_delivered_timestamp'].min()
max_delivery_date = df_orders['order_delivered_timestamp'].max()

print('Order Delivery Date Range: {} to {}'.format(min_delivery_date, max_delivery_date))

Order Delivery Date Range: 2016-10-11 13:46:00 to 2018-10-17 13:22:00

In [0]:
df_orders['order_status'].unique()

array(['delivered', 'canceled', 'shipped', 'processing', 'invoiced',
       'unavailable', 'approved', nan], dtype=object)